<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="MANUTENÇÃO">
	    <setting type="lsep" label="[COLOR lightblue]Ativar e Desativar notificação e limpeza cache[/COLOR]" />
		<setting id="notify_mode" type="bool" label="Iniciar notificação para limpeza" default="true" />
		<setting id="startup.cache" type="bool" label="Limpeza cache ao Inciar o Kodi" default="true" />
		<setting type="lsep" label="[COLOR lightblue]Alertar limpeza na pasta[/COLOR]" />
		<setting id="filesize_alert" type="slider" label="Alertar tamanho total de arquivos (MB)" default="200" range="25,500" option="int" />
		<setting id="packagenumbers_alert" type="slider" label="Tamanho de arquivos em .zip" default="50" range="5,200" option="int" />
		<setting type="lsep" label="[COLOR lightblue]Alertar limpeza para imagens[/COLOR]" />
		<setting id="filesizethumb_alert" type="slider" label="Tamanho total de arquivos (MB)" default="500" range="50,2000" option="int" />
    </category> 
	<category label="+18 XXX">    
        <setting type="lsep" label="[COLOR lightblue]Categoria +18 XXX Bloqueada, Necessita de Senha para Logar-se![/COLOR]" />  		
        <setting label="Senha:" type="number" id="password" option="hidden" default="1234"/>
    </category>
</settings>